.sidebar{
    box-sizing: border-box;
  
    position: fixed;
    width: 280px;
    height: 1445px;
    left: -26px;
    background: #18171b;
    border: 1px solid #4B4A4E;
  }
  
  .sidebar-img img{
    position: absolute;
    height: 46.56px;
    left: 101px;
    top: 27px;
  }
  
  .sidebar-line{
    position: absolute;
    width: 280px;
    height: 1px;
    left: 0px;
    top: 101px;
  
  background: #C4C4C4;
  opacity: 0.15;
  transform: matrix(1, 0, 0, -1, 0, 0);
  }
  
  .profile-box{
    position: absolute;
    width: 180px;
    height: 66px;
    left: 35px;
    left: 48px;
    top: 141px;
    display: flex;
  }
  .profile-box img {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 0px;
    top: 0;
    border-radius: 10px;
  }
  .profile-box-content h3{
      position: absolute;
      width: 81px;
      height: 25px;
      left: 75px;
      top: 13px;
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
  }
  .profile-box-content p {
    position: absolute;
    left: 75px;
    top: 38px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #D080F3;
  }
  .side-nav-link {
    position: absolute;
    width: 254px;
    height: 100%;
    top: 96px;
    left: -23px;
  }
  .nav-box{
    width: 100%;
    height: 48px;
    display: flex;
    cursor: pointer;
  }
  .nav-box:hover{
    background: linear-gradient(90deg, rgba(171, 69, 231, 0.24) 0%, rgba(171, 69, 231, 0) 146.65%);
  }
  .active{
    width: 100%;
    height: 48px;
    background: linear-gradient(90deg, rgba(171, 69, 231, 0.24) 0%, rgba(171, 69, 231, 0) 146.65%);
  }
  .nav-box img {
    position: relative;
    width: 22px;
    height: 22px;
    left: 38px;
    top: 13px;
  }
  .nav-box h3 {
    position: relative;
    left: 45px;
    top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;;
  }
  
  
  .profile-box-content img{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 163px;
    top: 17px;
  }